<footer>
  <div class="footer-info">
    <div class="container h-100">
      <div class="row align-items-end h-100">
        <div class="col-12 col-md-6 col-lg-4">
          <h2 class="footer-title fw-semibold lh-base">記得<br>訂閱以獲取更多資訊！</h2>
          <div class="footer-inputGroup">
            <input type="text" placeholder="Your email address">
            <button class="btn" type="button">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-nav bg-primary">
    <div class="container d-flex">
      <div class="footer-nav-info d-flex align-items-center">
        <img class="footer-nav-logo" src="../assets/images/d’Perfume-white@2x.png" width="128" alt="d’Perfume">
        <p class="fs-7 fw-medium text-white mb-0">© 2020. All Rights Reserved.</p>
      </div>
      <ul class="footer-nav-link list-unstyled d-md-flex d-none my-0 ms-auto align-items-center ">
        <li><a class="text-white" href="../pages/products.html">Product</a></li>
        <li><a class="text-white" href="#">Blog</a></li>
        <li><a class="text-white" href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>