<nav class="fixed-top navbar navbar-expand-lg bg-white py-0">
  <div class="container nav-container">
    <a class="navbar-brand py-2" href="../pages/index.html"><img src="../assets/images/d’Perfume@2x.png" width="128"
        alt="D’Perfume Logo"></a>
    <a href="#" class="navbar-sm-cartBtn d-inline-block d-lg-none ms-auto position-relative">
      <i class="fa-solid fa-cart-shopping text-secondary fs-5"></i>
      <span class="navbar-sm-cartNum position-absolute">3</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="text-secondary fa-sharp fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-lg-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-secondary me-lg-3" aria-current="page" href="../pages/products.html">
            <i class="d-none d-lg-inline-block fa-solid fa-shop me-1"></i>
            <span class="fs-5">Product</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary me-lg-3" aria-current="page" href="#">
            <i class="d-none d-lg-inline-block fa-solid fa-user me-1"></i>
            <span class="fs-5">Log in</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary me-lg-3" aria-current="page" href="#">
            <i class="d-none d-lg-inline-block fa-solid fa-heart me-1"></i>
            <span class="fs-5">Wishlist</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" aria-current="page" href="#">
            <i class="d-none d-lg-inline-block fa-solid fa-cart-shopping me-1"></i>
            <span class="fs-5">Cart(3)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>