<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Products</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="product">
  <%- include('./layout/nav'); -%>
    <div class="product-nav bg-primary d-none d-lg-block">
      <ul class="container d-flex list-unstyled mb-0">
        <li><a href="#" class="text-white">CHANEL</a></li>
        <li><a href="#" class="text-white">Jo Malone</a></li>
        <li><a href="#" class="text-white">Curology</a></li>
        <li><a href="#" class="text-white">Dior</a></li>
        <li><a href="#" class="text-white">Chloe</a></li>
        <li><a href="#" class="text-white">ZARA</a></li>
      </ul>
    </div>
    <div class="product-content container">
      <ul class="row list-unstyled">
        <li class="col-6 col-md-4 col-lg-3">
          <a class="product-link" href="#">
            <div class="product-imgContainer overflow-hidden d-flex align-items-center">
              <img class="product-img img-fluid" src="../assets/images/products1.jpg" alt="Poppy & Barley">
            </div>
            <h2 class="fs-4 fw-semibold text-dark">Poppy & Barley</h2>
          </a>
          <a href="#" class="text-dark fw-light">Jo Malone</a>
          <div class="product-price d-flex">
            <p class="me-2 mb-1">NT$1,380</p>
            <p class="product-orginPrice mb-1 text-decoration-line-through">NT$1,580</p>
          </div>
          <div class="product-btn">
            <a href="#"><i class="fa-solid fa-heart fs-5"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping fs-5"></i></a>
          </div>
        </li>
        <li class="col-6 col-md-4 col-lg-3">
          <a class="product-link" href="#">
            <div class="product-imgContainer overflow-hidden d-flex align-items-end">
              <img class="product-img img-fluid" src="../assets/images/index6.jpg" alt="Poppy & Barley">
            </div>
            <h2 class="fs-4 fw-semibold text-dark">Poppy & Barley</h2>
          </a>
          <a href="#" class="text-dark fw-light">Jo Malone</a>
          <div class="product-price d-flex">
            <p class="me-2 mb-1">NT$1,380</p>
            <p class="product-orginPrice mb-1 text-decoration-line-through">NT$1,580</p>
          </div>
          <div class="product-btn">
            <a href="#"><i class="fa-solid fa-heart fs-5"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping fs-5"></i></a>
          </div>
        </li>
        <li class="col-6 col-md-4 col-lg-3">
          <a class="product-link" href="#">
            <div class="product-imgContainer overflow-hidden d-flex align-items-center">
              <img class="product-img img-fluid pt-5" src="../assets/images/products3.jpg" alt="Poppy & Barley">
            </div>
            <h2 class="fs-4 fw-semibold text-dark">Poppy & Barley</h2>
          </a>
          <a href="#" class="text-dark fw-light">Jo Malone</a>
          <div class="product-price d-flex">
            <p class="me-2 mb-1">NT$1,380</p>
            <p class="product-orginPrice mb-1 text-decoration-line-through">NT$1,580</p>
          </div>
          <div class="product-btn">
            <a href="#"><i class="fa-solid fa-heart fs-5"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping fs-5"></i></a>
          </div>
        </li>
        <li class="col-6 col-md-4 col-lg-3">
          <a class="product-link" href="#">
            <div class="product-imgContainer overflow-hidden d-flex align-items-center">
              <img class="product-img img-fluid pt-5" src="../assets/images/products4.jpg" alt="Poppy & Barley">
            </div>
            <h2 class="fs-4 fw-semibold text-dark">Poppy & Barley</h2>
          </a>
          <a href="#" class="text-dark fw-light">Jo Malone</a>
          <div class="product-price d-flex">
            <p class="me-2 mb-1">NT$1,380</p>
            <p class="product-orginPrice mb-1 text-decoration-line-through">NT$1,580</p>
          </div>
          <div class="product-btn">
            <a href="#"><i class="fa-solid fa-heart fs-5"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping fs-5"></i></a>
          </div>
        </li>
        <li class="col-6 col-md-4 col-lg-3">
          <a class="product-link" href="#">
            <div class="product-imgContainer overflow-hidden d-flex align-items-center">
              <img class="product-img img-fluid pt-5" src="../assets/images/products5.jpg" alt="Poppy & Barley">
            </div>
            <h2 class="fs-4 fw-semibold text-dark">Poppy & Barley</h2>
          </a>
          <a href="#" class="text-dark fw-light">Jo Malone</a>
          <div class="product-price d-flex">
            <p class="me-2 mb-1">NT$1,380</p>
            <p class="product-orginPrice mb-1 text-decoration-line-through">NT$1,580</p>
          </div>
          <div class="product-btn">
            <a href="#"><i class="fa-solid fa-heart fs-5"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping fs-5"></i></a>
          </div>
        </li>
        <li class="col-6 col-md-4 col-lg-3">
          <a class="product-link" href="#">
            <div class="product-imgContainer overflow-hidden d-flex justify-content-start">
              <img class="product-img h-100" src="../assets/images/index4.jpg" alt="Poppy & Barley">
            </div>
            <h2 class="fs-4 fw-semibold text-dark">Poppy & Barley</h2>
          </a>
          <a href="#" class="text-dark fw-light">Jo Malone</a>
          <div class="product-price d-flex">
            <p class="me-2 mb-1">NT$1,380</p>
            <p class="product-orginPrice mb-1 text-decoration-line-through">NT$1,580</p>
          </div>
          <div class="product-btn">
            <a href="#"><i class="fa-solid fa-heart fs-5"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping fs-5"></i></a>
          </div>
        </li>
        <li class="col-6 col-md-4 col-lg-3">
          <a class="product-link" href="#">
            <div class="product-imgContainer overflow-hidden d-flex align-items-center">
              <img class="product-img img-fluid" src="../assets/images/products7.jpg" alt="Poppy & Barley">
            </div>
            <h2 class="fs-4 fw-semibold text-dark">Poppy & Barley</h2>
          </a>
          <a href="#" class="text-dark fw-light">Jo Malone</a>
          <div class="product-price d-flex">
            <p class="me-2 mb-1">NT$1,380</p>
            <p class="product-orginPrice mb-1 text-decoration-line-through">NT$1,580</p>
          </div>
          <div class="product-btn">
            <a href="#"><i class="fa-solid fa-heart fs-5"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping fs-5"></i></a>
          </div>
        </li>
        <li class="col-6 col-md-4 col-lg-3">
          <a class="product-link" href="#">
            <div class="product-imgContainer overflow-hidden d-flex justify-content-center">
              <img class="product-img h-100" src="../assets/images/products8.jpg" alt="Poppy & Barley">
            </div>
            <h2 class="fs-4 fw-semibold text-dark">Poppy & Barley</h2>
          </a>
          <a href="#" class="text-dark fw-light">Jo Malone</a>
          <div class="product-price d-flex">
            <p class="me-2 mb-1">NT$1,380</p>
            <p class="product-orginPrice mb-1 text-decoration-line-through">NT$1,580</p>
          </div>
          <div class="product-btn">
            <a href="#"><i class="fa-solid fa-heart fs-5"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping fs-5"></i></a>
          </div>
        </li>
        <li class="col-6 col-md-4 col-lg-3">
          <a class="product-link" href="#">
            <div class="product-imgContainer overflow-hidden d-flex align-items-center">
              <img class="product-img img-fluid" src="../assets/images/index3.png" alt="Poppy & Barley">
            </div>
            <h2 class="fs-4 fw-semibold text-dark">Poppy & Barley</h2>
          </a>
          <a href="#" class="text-dark fw-light">Jo Malone</a>
          <div class="product-price d-flex">
            <p class="me-2 mb-1">NT$1,380</p>
            <p class="product-orginPrice mb-1 text-decoration-line-through">NT$1,580</p>
          </div>
          <div class="product-btn">
            <a href="#"><i class="fa-solid fa-heart fs-5"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping fs-5"></i></a>
          </div>
        </li>
        <li class="col-6 col-md-4 col-lg-3">
          <a class="product-link" href="#">
            <div class="product-imgContainer overflow-hidden d-flex align-items-center">
              <img class="product-img img-fluid" src="../assets/images/products10.jpg" alt="Poppy & Barley">
            </div>
            <h2 class="fs-4 fw-semibold text-dark">Poppy & Barley</h2>
          </a>
          <a href="#" class="text-dark fw-light">Jo Malone</a>
          <div class="product-price d-flex">
            <p class="me-2 mb-1">NT$1,380</p>
            <p class="product-orginPrice mb-1 text-decoration-line-through">NT$1,580</p>
          </div>
          <div class="product-btn">
            <a href="#"><i class="fa-solid fa-heart fs-5"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping fs-5"></i></a>
          </div>
        </li>
        <li class="col-6 col-md-4 col-lg-3">
          <a class="product-link" href="#">
            <div class="product-imgContainer overflow-hidden d-flex align-items-center">
              <img class="product-img img-fluid" src="../assets/images/products11.jpg" alt="Poppy & Barley">
            </div>
            <h2 class="fs-4 fw-semibold text-dark">Poppy & Barley</h2>
          </a>
          <a href="#" class="text-dark fw-light">Jo Malone</a>
          <div class="product-price d-flex">
            <p class="me-2 mb-1">NT$1,380</p>
            <p class="product-orginPrice mb-1 text-decoration-line-through">NT$1,580</p>
          </div>
          <div class="product-btn">
            <a href="#"><i class="fa-solid fa-heart fs-5"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping fs-5"></i></a>
          </div>
        </li>
        <li class="col-6 col-md-4 col-lg-3">
          <a class="product-link" href="#">
            <div class="product-imgContainer overflow-hidden d-flex justify-content-center">
              <img class="product-img h-100" src="../assets/images/products12.jpg" alt="Poppy & Barley">
            </div>
            <h2 class="fs-4 fw-semibold text-dark">Poppy & Barley</h2>
          </a>
          <a href="#" class="text-dark fw-light">Jo Malone</a>
          <div class="product-price d-flex">
            <p class="me-2 mb-1">NT$1,380</p>
            <p class="product-orginPrice mb-1 text-decoration-line-through">NT$1,580</p>
          </div>
          <div class="product-btn">
            <a href="#"><i class="fa-solid fa-heart fs-5"></i></a>
            <a href="#"><i class="fa-solid fa-cart-shopping fs-5"></i></a>
          </div>
        </li>
      </ul>
    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>